* {
  text-align: center;
    background-color:#DAA42F;
    list-style: none;
  }

#header{
  background-color: black;
  color: white;
  text-align: center;
}
#footer {
  /*background-color: black;*/
  color:white;
  font-style: italic;
  font-family: fantasy;
  margin-bottom: 0 5px;
}
#aim{
    font-family:'Changa One','sans-serif';
    text-align: center;
    color:black;
    width: 200px;
    height:10px;
    padding: 25px;
    /*border: 4px solid black;*/
    margin: 0 auto;
    
}

body {
  /*margin-top: 30px;*/
  margin:0;
  padding:0;


}
button:hover,.searchbutton:hover,.addbutton:hover{
  cursor: pointer;
  background-color: black;
}

/*img {
  width: 35%;
  height: 30%;
}*/

#host {
  width: 35%;
  height:30%;
  border:4px solid black;
}

#giphy{
  width: 40%;
  height: 100%;
  /*padding:10px;*/
  border:4px solid black;
}

#butter {
   width:3%;
   height:3%;
   padding:10px;
   margin-bottom:400px;
   float:right;
   position:relative;
   border: 5px solid black;
}

#plus {
  text-align: center;
  width :50px;
  height:30px;
  margin-bottom:150px;
}

#list{
  margin-top: 20px;
  display: inline-block;
  justify-content:space-around;
  flex-direction: row;
  float:300px;;
  position:relative;
  border-radius: 50%;
  flex-wrap: wrap;
  height:100px;
  width:100px;
  text-align: center;
  color: white;
  border: 4px solid black;

  /*margin:auto;*/
}
#add{
margin-top: 20px;
display: inline-block;
justify-content:space-around;
flex-direction: row;
float:300px;;
position:relative;
border-radius: 50%;
flex-wrap: wrap;
height:100px;
width:100px;
text-align: center;
color: white;
border: 4px solid black;
}

#search{
  margin-top: 20px;
  display: inline-block;
  justify-content:space-around;
  flex-direction: row;
  float:300px;;
  position:relative;
  border-radius: 50%;
  flex-wrap: wrap;
  height:100px;
  width:100px;
  text-align: center;
  color: white;
  border: 4px solid black;

}
#delete{
  margin-top: 20px;
  display: inline-block;
  justify-content:space-around;
  flex-direction: row;
  float:300px;;
  position:relative;
  border-radius: 50%;
  flex-wrap: wrap;
  height:100px;
  width:100px;
  text-align: center;
  color: white;
  border: 4px solid black;

}
#wrap{
  margin-top: 20px;
  display: inline-block;
  justify-content:space-around;
  flex-direction: row;
  float:300px;;
  position:relative;
  border-radius: 50%;
  flex-wrap: wrap;
  height:100px;
  width:100px;
  text-align: center;
  color: white;
  border: 4px solid black;
}

.social-icon{
  height:20px;
  width:30px;
  margin-bottom:0 100px;
  padding:0;
}

/*#whitebanner{
  background-color: white;
  height:400px;
  width:100%;
  float:left;
  z-index:1000;
  position: relative;

}*/
/*.design{
  border: 1px solid black;
}*/

/*.eachrecord{
  border: 1px solid black;
  margin-bottom: 20px;

}*/
